---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Natalie Stromberg" description="About Natalie Stromberg">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Passion for Design"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Natalie Stromberg working on a robot with colleagues"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I’m Natalie, a Mechanical Engineering student at the University of Texas at Dallas, with a deep passion for robotics and engineering. My journey has been marked by a dedication to innovative design, rapid prototyping, and educational outreach. Through various roles and projects, I've honed my skills in CAD, 3D printing, and modular design while leading initiatives that inspire and engage the community. My experiences range from developing combat robots to managing events and marketing, showcasing my ability to blend technical expertise with creative problem-solving. I thrive in collaborative environments, always seeking to learn and grow, and I’m driven by a commitment to making a positive impact through engineering and technology.
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						Mechanical Engineering student at UT Dallas
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						Mechanical Engineering, 3D Printing, Robotics, Project Management, Modular Design, Iterative Design, Computer Skills, Remote Control Systems, Ham Radio
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
